@use 'isc-shared-angular/variables' as variables;

$smallSize: 25px;
$fullHeight: 120px;

.footer {
  font-size: 0.8em;
  margin: 0;

  > div {
    padding-top: 10px;
    max-width: 800px;
  }
}

:host {
  height: variables.$footerHeight;
  display: block;
  position: relative;
  z-index: 1;
}

.isc {
  font-size: 0.9em;
}

.disclaimers {
  text-align: right;
}

@media (max-width: variables.$mobileGridBreakpoint) {
  .disclaimers {
    text-align: right;
  }
}
