<div class="row footer p-2 justify-content-center">
  <div class="col-11 row no-gutters">
    <div class="row justify-content-between no-gutters">
      <span class="col-auto col-sm-6 isc">
        Italian Speedrun Community
        <br />
        C.F.: 97931990150
      </span>
      <span class="col-auto col-sm-6 disclaimers">
        <a routerLink="/terms-and-conditions">Termini di Servizio</a>
        <br />
        <a routerLink="/privacy-policy">Privacy Policy</a>
      </span>
    </div>
  </div>
</div>
