<img
  class="main-photo"
  src="photo_home.jpg"
  alt="Italian Speedrun Community"
/>

<div class="d-flex justify-content-center">
  <div class="page-content col-lg-10 col-xl-8">
    <mat-card>
      <mat-card-content>
        <div class="row">
          <div class="col-sm-8">
            <h3>Chi siamo</h3>
            <p>
              Italian Speedrun Community (ISC) è un'associazione culturale senza scopo di lucro
              appassionata di speedrunning, un'arte che consiste nel completare i videogiochi nel
              minor tempo possibile. La nostra missione è creare una comunità forte e unita, in cui
              i giocatori possono condividere esperienze e sostenersi reciprocamente nella loro
              passione.
            </p>
          </div>
          <div class="col-sm-4">PIC</div>
        </div>
        <div class="row mt-2">
          <div class="col">
            <a
              class="col-12 col-sm-auto"
              mat-stroked-button
              routerLink="/community"
            >
              Scopri di più sulla nostra associazione
            </a>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <div class="row flex-sm-row-reverse">
          <div class="col-sm-8">
            <h3>I nostri eventi</h3>
            <p>
              Organizziamo eventi di speedrun entusiasmanti e divertenti, in cui mettiamo in mostra
              il talento dei speedrunner di tutta Italia. Le nostre maratone di speedrunning sono
              momenti unici in cui i partecipanti danno sfoggio delle loro abilità, offrendo al
              pubblico uno spettacolo coinvolgente e mozzafiato.
            </p>
          </div>
          <div class="col-sm-4">PIC</div>
        </div>
        <div class="row mt-2">
          <div class="col d-flex justify-content-end">
            <a
              class="col-12 col-sm-auto"
              mat-stroked-button
              routerLink="/i-nostri-eventi"
            >
              Scopri di più sugli eventi
            </a>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <isc-embedded-video
      class="p-3"
      videoUrl="https://www.youtube.com/watch?v=-5ortVA4-Ho"
    />
    <mat-card>
      <mat-card-content>
        <div class="row">
          <div>
            <h3>Il nostro impegno per la beneficenza</h3>
            <p>
              Gli eventi di beneficenza organizzati da
              <b>Italian Speedrun Community</b> rappresentano un'opportunita unica per unire la
              passione per il gaming alla solidarietà. Nel corso degli anni, grazie al supporto
              della nostra community, abbiamo raccolto migliaia di euro a favore di importanti
              associazioni come <b>Medici del Mondo</b>, <b>AIRC</b>, <b>AISM</b> e <b>ABIO</b>.
            </p>
            <div class="mt-2 row charity-logos">
              <div class="col-sm-6 d-flex justify-content-around">
                <img
                  src="logo_mdm.png"
                  alt="Medici del Mondo"
                />
                <img
                  src="logo_airc.png"
                  alt="AIRC"
                />
              </div>
              <div class="col-sm-6 mt-4 mt-sm-0 d-flex justify-content-around">
                <img
                  src="logo_aism.png"
                  alt="AISM"
                />
                <img
                  src="logo_fondazione_abio.png"
                  alt="ABIO"
                />
              </div>
            </div>
            <div class="mt-4 d-flex justify-content-center">
              <a
                class="col-12 col-sm-auto"
                mat-stroked-button
                routerLink="/beneficenza"
              >
                Scopri di più sulle nostre collaborazioni di beneficenza
              </a>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <div class="row">
          <div>
            <h3>Vuoi stringere una partnership con noi?</h3>
            <p>
              Sei un'azienda o un brand in cerca di un'opportunità per connetterti con una community
              giovane, appassionata e solidale? Italian Speedrun Community è alla ricerca di partner
              e sponsor che vogliano supportare i nostri eventi, contribuendo alla copertura delle
              spese e al miglioramento dell'esperienza per partecipati e spettatori.
            </p>
            <div class="mt-4 d-flex justify-content-center">
              <a
                class="col-12 col-sm-auto"
                mat-stroked-button
                routerLink="/contatti"
              >
                Contattaci ora
              </a>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
