<!-- <img
  class="main-photo"
  src="photo_home.jpg"
  alt="Italian Speedrun Community"
/> -->

<div class="d-flex justify-content-center">
  <div class="page-content col-lg-10 col-xl-8">
    <mat-card>
      <mat-card-content>
        <div class="row">
          <div>
            <h3>Come nasce la community</h3>
            <p>
              ISC nasce da un piccolo gruppo di speedrunner italiani, conosciutisi grazie ad eventi
              internazionali come Games Done Quick ed European Speedrun Assembly. Nel 2019 inizia
              quindi la creazione di una vera e propria community Italiana, attraverso il server
              Discord con l'intento di creare, come successo in moltre altre nazioni, la prima
              maratona Italiana di Speedrunning.
            </p>
            <p>
              Italian Speedrun Marathon Online sarà il primo esperimento di evento della community,
              nel 2020, che getterà le basi per Giochi d'un Fiato, e di una community, che da li a
              poco, crescerà esponenzialmente, grazie al lavoro svolto nel far conoscere la
              disciplina dello Speedrunning al grande pubblico.
            </p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <div class="row">
          <div>
            <h3>L'associazione culturale</h3>
            <p>
              Italian Speedrun Community è un' Associazione Culturale senza scopo di lucro nata nel
              2022 con l'obbiettivo di proporre eventi di alta qualità legati al mondo dello
              Speedrunning in Italia.
            </p>
            <p>
              ISC, tramite la maratona di speedrunning Giochi d'un Fiato, pone grande attenzione
              alla promozione della raccolta fondi per diverse associazioni che operano sul
              territorio, tra cui ABIO, AISM ed AIRC.
            </p>
            <p>
              Italian Speedrun Marathon Online sarà il primo esperimento di evento della community,
              nel 2020, che getterà le basi per Giochi d'un Fiato, e di una community, che da li a
              poco, crescerà esponenzialmente, grazie al lavoro svolto nel far conoscere la
              disciplina dello Speedrunning al grande pubblico.
            </p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
