<!-- <img
  class="main-photo"
  src="photo_home.jpg"
  alt="Italian Speedrun Community"
/> -->

<div class="d-flex justify-content-center">
  <div class="page-content col-lg-10 col-xl-8">
    <!-- MDM -->
    <mat-card>
      <mat-card-content>
        <div class="row">
          <div
            class="col"
            style="text-align: center"
          >
            <h3>Medici del Mondo</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <p>
              Il network di MdM ha iniziato a operare in Italia a fine 2015 in risposta alla crisi
              migratoria che ha interessato l'Europa e l'Italia. Inizialmente con un programma in
              supporto all'accesso alla salute per migranti e rifugiati in Calabria (al porto
              durante gli sbarchi e nei centri di accoglienza) e, dalla fine del 2017, anche con un
              intervento in favore delle popolazioni migranti che si trovano a vivere in
              accampamenti informali ed immobili occupati a Roma.
            </p>
            <p>
              A partire dal 2018, un nuovo programma con focus sulla violenza di genere e sulla
              salute sessuale e riproduttiva si sviluppa su tre regioni: Calabria, Lazio e Sicilia
              orientale. Infine, all'inizio del 2020, con l'esplosione della pandemia, MdM ha
              contribuito fin da subito nelle proprie aree di intervento nel prevenire e mitigare
              gli effetti del Covid-19 sulle popolazioni più vulnerabili.
            </p>
            <p>
              MdM è attiva in oltre 70 Paesi del mondo e impegnata in più di 400 progetti, tra cui
              la promozione e la tutela di salute e diritti delle donne in situazioni vulnerabili e
              la riduzione dei danni alla salute legati alle condizioni ambientali in cui alcune
              persone vivono.
            </p>
          </div>
          <div class="col-sm-4 charity-logo-box">
            <img
              src="logo_mdm.png"
              alt="Medici del Mondo"
            />
          </div>
        </div>
        <div class="row mt-2">
          <div class="col">
            <p
              class="mb-0"
              style="text-align: center"
            >
              <b>Italian Speedrun Community ha supportato Medici del Mondo durante:</b>
            </p>
            <div class="d-flex justify-content-center">
              <ul
                class="p-sm-0"
                style="display: inline-block"
              >
                <li>Giochi d'Un Fiato Autunno 2023 (Online, 20-22 ottobre 2023)</li>
                <li>Giochi d'Un Fiato Primavera 2024 (Bologna Nerd, 06-07/04/2024)</li>
                <li>Giochi d'Un Fiato Primavera 2025 (Bologna Nerd, 26-27/04/2025)</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div
            class="col"
            style="text-align: center"
          >
            <h3>11903 € totali raccolti</h3>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <!-- AIRC -->
    <mat-card>
      <mat-card-content class="px-4">
        <div class="row">
          <div
            class="col order-sm-1"
            style="text-align: center"
          >
            <h3>Fondazione AIRC per la ricerca sul cancro</h3>
          </div>
        </div>
        <div class="row flex-sm-row-reverse">
          <div class="col-sm-8">
            <p>
              Fondazione AIRC per la ricerca sul cancro nasce nel 1965. Oggi rappresenta il primo
              polo privato di finanziamento della ricerca indipendente sul cancro in Italia, a cui
              ha destinato oltre 1 miliardo e novecento milioni di euro in oltre 55 anni. AIRC
              sostiene con continuità il lavoro di oltre 6.000 scienziati, il 63% donne e il 54% con
              meno di 40 anni. La loro attività si svolge prevalentemente in strutture pubbliche -
              laboratori di università, ospedali e istituzioni scientifiche - con un beneficio
              tangibile per i sistemi della ricerca e della sanità del Paese. Fondazione AIRC è
              inoltre impegnata a diffondere l'informazione scientifica, promuovere la cultura della
              prevenzione nelle case, nelle piazze e nelle scuole e rappresenta un punto di
              riferimento per la collettività e fonte autorevole su questi temi.
            </p>
          </div>
          <div class="col-sm-4 charity-logo-box">
            <img
              src="logo_airc.png"
              alt="AIRC"
            />
          </div>
        </div>
        <div class="row mt-2">
          <div class="col">
            <p
              class="mb-0"
              style="text-align: center"
            >
              <b>Italian Speedrun Community ha supportato AIRC durante:</b>
            </p>
            <div class="d-flex justify-content-center">
              <ul
                class="p-sm-0"
                style="display: inline-block"
              >
                <li>Giochi d'Un Fiato Primavera 2023 Preshow (Online, 26/03/2023)</li>
                <li>Giochi d'Un Fiato Primavera 2023 (Bologna Nerd, 01-02/04/2023)</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div
            class="col"
            style="text-align: center"
          >
            <h3>3076 € totali raccolti</h3>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <!-- AISM -->
    <mat-card>
      <mat-card-content>
        <div class="row">
          <div
            class="col"
            style="text-align: center"
          >
            <h3>AISM: Associazione italiana sclerosi multipla</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <p>
              AISM, Associazione Italiana Sclerosi Multipla, è l'unica organizzazione in Italia che
              si occupa in modo strutturato e organico di tutti gli aspetti legati alla sclerosi
              multipla (SM), attraverso una prospettiva d'insieme che abbraccia il tema dei diritti
              delle persone con SM, i servizi sanitari e socio-sanitari, la promozione, l'indirizzo
              e il finanziamento della ricerca scientifica. Nata nel 1968 per rappresentare i
              diritti e le speranze delle persone con SM, AISM è da allora il punto di riferimento
              più autorevole per chi è colpito dalla patologia, ma anche per i familiari, gli
              operatori sociali e sanitari e tutti coloro impegnati a cambiare la realtà della
              sclerosi multipla.
            </p>
          </div>
          <div class="col-sm-4 charity-logo-box">
            <img
              src="logo_aism.png"
              alt="AISM"
            />
          </div>
        </div>
        <div class="row mt-2">
          <div class="col">
            <p
              class="mb-0"
              style="text-align: center"
            >
              <b>Italian Speedrun Community ha supportato AISM durante:</b>
            </p>
            <div class="d-flex justify-content-center">
              <ul
                class="p-sm-0"
                style="display: inline-block"
              >
                <li>Giochi d'Un Fiato Christmas Edition (Online, 11/12/2021)</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div
            class="col"
            style="text-align: center"
          >
            <h3>1736 € totali raccolti</h3>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <!-- ABIO -->
    <mat-card>
      <mat-card-content class="px-4">
        <div class="row">
          <div
            class="col order-sm-1"
            style="text-align: center"
          >
            <h3>Fondazione AIRC per la ricerca sul cancro</h3>
          </div>
        </div>
        <div class="row flex-sm-row-reverse">
          <div class="col-sm-8">
            <p>
              ABIO è l'Associazione per il Bambino in Ospedale e si occupa di accogliere i bambini
              dal momento in cui entrano in ospedale con giochi, letture e ambienti a misura di
              bambino. L'obiettivo principale di ABIO è quello di ridurre al minimo il rischio di
              trauma che ogni ricovero presenta, collaborando con medici e personale sanitario per
              normalizzare agli occhi dei piccoli degenti l'ambiente ospedaliero.
            </p>
          </div>
          <div class="col-sm-4 charity-logo-box">
            <img
              src="logo_fondazione_abio.png"
              alt="ABIO"
            />
          </div>
        </div>
        <div class="row mt-2">
          <div class="col">
            <p
              class="mb-0"
              style="text-align: center"
            >
              <b>Italian Speedrun Community ha supportato ABIO durante:</b>
            </p>
            <div class="d-flex justify-content-center">
              <ul
                class="p-sm-0"
                style="display: inline-block"
              >
                <li>Giochi d'Un Fiato (Online, 03-05/09/2021)</li>
                <li>Giochi d'Un Fiato Primavera 2022 Preshow (Online, 20/03/2022)</li>
                <li>Giochi d'Un Fiato Primavera 2022 (Nemiex Milano, 26-27/03/2022)</li>
                <li>Giochi d'Un Fiato Autunno 2022 (Online, 23-26/10/2022)</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div
            class="col"
            style="text-align: center"
          >
            <h3>7572 € totali raccolti</h3>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
