<mat-toolbar class="main-toolbar">
  <a
    routerLink="/"
    routerLinkActive="current-page"
    [routerLinkActiveOptions]="{ exact: true }"
    class="toolbar-title"
    (click)="clicker$.next()"
  >
    <img
      height="40"
      src="logo.png"
      alt="Logo"
    />
  </a>

  <span class="flex-fill px-4 links">
    <a routerLink="/">Home</a>
    <a routerLink="/community">La community</a>
    <a routerLink="/beneficenza">Beneficenza</a>
    <a routerLink="/contatti">Contattaci</a>
    <a
      href="https://fungos.italianspeedruncommunity.com"
      target="_blank"
      >Proponi una run</a
    >
  </span>

  <span class="d-flex">
    <isc-theme-toggle class="mx-sm-1" />
  </span>
</mat-toolbar>
